@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root {
    --color-primary: #d0604c;
    --color-secondary: #213547;
    --color-terciary: #d6d6dd;
    --color-white: #ffffff;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 0, 0, .1);
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.heading {
    width: 12.5rem;
    height: 12.5rem;
    margin: 0 auto .625rem auto;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

.img {
    width: 100%;
    height: 100%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 6.25rem;
    background-color: var(--color-secondary);
}

.navigation__logo {
    width: 7.25rem;
}

.navigation__img {
    width: 100%;
    height: 100%;
}

.navigation__ancla {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.navigation__link {
    font-size: 2rem;
    text-decoration: none;
    color: var(--color-terciary);
}

.navigation__link:hover {
    color: var(--color-primary);
}

.content {
    width: 80%;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 12.5rem 4rem 18.75rem 15rem;
    grid-template-areas: "text text text"
                         "subtitle subtitle subtitle"
                         "pictures1 pictures2 pictures3"
                         "about about about";
    background-color: var(--color-white);
    box-shadow: 0 2px 5px #213547;
}

.content__text {
    grid-area: text;
    margin-left: 1.2rem;
}

.title {
    font-size: 3.5rem;
}

.description {
    width: 50%;
    font-size: 1.5rem;
    font-weight: 500;
}

.content__subtitle {
    grid-area: subtitle;
}

.images1 {
    grid-area: pictures1;
}

.images2 {
    grid-area: pictures2;
}

.images3 {
    grid-area: pictures3;
}

.content__images {
    border-radius: .3125rem;
    overflow: hidden;
}

.images {
    width: 15.625rem;
    height: 18.75rem;
}

.content__subtitle {
    font-size: 2.5rem;
    text-align: center;
}

.about {
    /* width: 80%; */
    grid-area: about;
    margin: 0 1.2rem;
}

.about__subtitle {
    font-size: 2.5rem;
    text-align: center;
}

.about__description {
    font-size: 1.5rem;
    font-weight: 500;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-secondary);
}

.ancla {
    font-size: 3.125rem;
    color: var(--color-white);
}

.text--color {
    color: var(--color-white);
}

.facebook:hover {
    color: #3b5998;
}

.youtube:hover {
    color: #c4302b;
}

.linkedin:hover {
    color: #0e76a8;
}